#greenbutton{
  width: 100px;
 height: 100px;
 background: green;
  }
#redbutton{
    background: red;
    width: 100px;
   height: 100px;
  }
#bluebutton{
    background: blue;
    width: 100px;
   height: 100px;
  }
#yellowbutton{
    background: yellow;
    width: 100px;
   height: 100px;
  }
