p {
    border: 1px solid powderblue;
    margin: 5px;
    font-family: "helvetica", arial, sans-serif;
}

h1 {
    font-family: "helvetica", arial, sans-serif;
    font-size: 50;
}

body {
    background: lightgrey;
}

table{

    table-layout: fixed;
}

th, td {

    overflow: hidden;
    width: 150px;
}

#blueBox {
    background: blue;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 22em;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

#yellowBox {
    background: yellow;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 22em;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

#redBox {
    background: red;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 22em;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

#greenBox {
    background: green;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 22em;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 32px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
