#greenbutton{
    background: green;
    padding: 40px 40px;
    color: green;

  }
#redbutton{
    background: red;
    padding: 40px 40px;
    color: red;
  }
#bluebutton{
    background: blue;
    padding: 40px 40px;
    color: blue;
  }
#yellowbutton{
    background: yellow;
    padding: 40px 40px;
    color: yellow;
  }
#blackout{
  background: black;
  padding: 40px 40px;
  color: black;
}




/* css hover */
